@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Section */

body {
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    min-width: 100%;
}

/* Header Section */

header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 3rem 0 1rem 0;
}

.title {
    font-size: 3rem;
}

/* Main Section */


.etch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.control-panel {
    border: .1rem solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    padding: 1rem 2rem;
}

.control-panel * {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 450;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    outline: none;
}

input[type=color] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    height: 5rem;
    width: 8rem;
}

.select-color, .grid-size {
    font-size: 1rem;
    font-weight: 500;
}

.grid-container {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#grid-range {
    width: 9rem;
}

#grid-range:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container button {
    margin-top: .5rem;
}

button {
    font-family: Raleway;
    font-weight: 700;
    font-size: 1rem;
    height: 2rem;
    width: 8rem;
}

button:hover {
    cursor: pointer;
}

.sketch-container {
    height: 35rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    background-color: rgb(253, 0, 0);
    border: .25rem solid #FFF;
    border-radius: .5rem;
}

.etch-a-sketch {
    border: 1px solid #000;
    height: 30rem;
    width: 35rem;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.etch-a-sketch:hover {
    cursor: pointer;
}


/* Footer Section */

footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

p {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.footer i {
    font-size: 2rem;
}
