@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Body Section */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambay, Arial, Helvetica, sans-serif;
    background-color: #262625;
}

/* Header Section */

header {
    padding: 1rem 0 1rem;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B4F72;
    color: #D0D3D4;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2rem 0;
    letter-spacing: .5rem;
    text-align: center;
}

/* Main Section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 0;
    padding-bottom: 5rem;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    padding-top: 3rem;
}

#control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#color-picker {
    border: none;
    min-height: 2.5rem;
    min-width: 10rem;
}

#grid-container {
    height: 28rem;
    width: 30rem;
    border: .5rem solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
    border-radius: .4rem;
}

#grid-container:hover {
    cursor: pointer;
}

button {
    font-size: 1.15rem;
    font-weight: 500;
    padding: .25rem;
    border-radius: .5rem;
    min-width: 10rem;
    letter-spacing: .1rem;
}

#grid-display p {
    text-align: center;
    padding-top: 2rem;
    color: #FFF;
    font-size: 1.2rem;
}

/* Footer Section */

footer {
    padding: 2rem 0 2rem;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1B4F72;
    color: #D0D3D4;

}

footer p {
    font-size: 1.25rem;
    letter-spacing: .2rem;
}

footer i {
    font-size: 1.75rem;
    padding: 0 0.5rem;
}